<div class="div">
    <mat-card class="card">
        <form class="padding" fxLayout="column" fxLayoutGap="16px" align="center" [formGroup]="form" (ngSubmit)="send()"> 
            <div align="center" >
                <h1>Sign Up</h1>
            </div>
            <div class="alert-danger" *ngIf="errorText">
                <div>{{errorText}}</div>
            </div>
            <div fxLayout="column" class="div1">
                <mat-form-field class="field"  fxFlex="grow" align="center">
                    <mat-label>Name</mat-label>
                        <input matInput required formControlName="name">
                </mat-form-field>
            </div>
            <div fxLayout="column" class="div1">
                <mat-form-field class="field"  fxFlex="grow" align="center">
                    <mat-label>Email</mat-label>
                        <input matInput required formControlName="email">
                </mat-form-field>
            </div>
            <div fxLayout="column" class="div1">
                <mat-form-field class="field"  fxFlex="grow" align="center">
                    <mat-label>Password</mat-label>
                        <input [type]="ShowPass ? 'text' : 'password'" matInput required formControlName="password">
                        <div class="PassStyle">
                            <i [class]="ShowEye ? 'fa fa-eye' : 'fa fa-eye-slash'"  (click)="showPassword()"></i>
                        </div>
                </mat-form-field>
            </div>
            <div fxLayout="column" class="div1">
                <mat-form-field class="field"  fxFlex="grow" align="center">
                    <mat-label>Confirm Password</mat-label>
                        <input [type]="ShowPass ? 'text' : 'password'" matInput required formControlName="confirmPassword">
                        <div class="PassStyle">
                            <i [class]="ShowEye ? 'fa fa-eye' : 'fa fa-eye-slash'"  (click)="showPassword()"></i>
                        </div>
                </mat-form-field>
            </div>
            <button type="submit" class="btn btn-primary btn-rounded">SIGN UP</button>
        </form>
        <div class="div2">
            <p> 
                Already have an account ? 
                <a [routerLink]="['/']" routerLinkActive="login.component.ts"> Signin here</a>
            </p>
            
        </div>
    </mat-card>
</div>
